include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include VERSION

recursive-include docs *.md *.rst conf.py Makefile *.jpg *.png *.gif
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
